attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1653276718085/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1648854392795/work
matplotlib==3.1.2
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1651020388495/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
pytest==7.1.1
pytest-cov @ file:///home/conda/feedstock_root/build_artifacts/pytest-cov_1633356845954/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///tmp/build/80754af9/tomli_1637314251069/work
